.playlist {
  text-align: center;
  margin-top: 20px;
}

.song {
  padding: 10px;
}

.btn {
  background-color: #dbdbdb;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
